.LaunchResults {
    width: 45%;
    height: 950px;
    overflow-y: scroll;
    padding: .88rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
  }
  .LaunchResults h2{
    padding: 2rem 0 0.5rem 0;
    border-bottom: 1px solid #6f6f6f;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
  }
  
  @media only screen and (max-width: 1020px) {
    .LaunchResults {
      width: 90%;
      margin-bottom: 2rem;
    }
  }